body {
    background-color: #94d2bd;
    color: #e9d8a6;
}
a {
    color: #ee9b00;
}
a:hover {    
    color: #ca6702;
}
h1, h2 {
    color: #ca6702;
}
nav {
    background-color: #bb3e03;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {
    color: #9b2226;
}
nav a:hover {
    color: #ae2012;
}